@font-face {
    font-family:icomoon;
    src:url(../fonts/icomoon-t900be.eot);
    src:url(../fonts/icomoon-.eot#iefixt900be) format("embedded-opentype"),
    url(../fonts/icomoon-t900be.ttf) format("truetype"),
    url(../fonts/icomoon-t900be.woff) format("woff"),
    url(../fonts/icomoon-t900be.svg#icomoon) format("svg");
    font-weight:400;
    font-style:normal
}[class*=" icon-"],[class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-eclipse:before {
    content: "\e64e"
}

.icon-jenkins::before {
    content: "\e900"
}

.icon-gradle::before {
    content: "\e901"
}

.icon-message:before {
    content: "\e64d"
}

.icon-studio:before {
    content: "\e631"
}

.icon-optimize-upload:before {
    content: "\e608"
}

.icon-cloud-download:before {
    content: "\e607"
}

.icon-bug:before {
    content: "\e603"
}

.icon-ion:before {
    content: "\e604"
}

.icon-wechat:before {
    content: "\e601"
}

.icon-weibo:before {
    content: "\e600"
}

.icon-f-dot:before {
    content: "\e647"
}

.icon-layers:before {
    content: "\e648"
}

.icon-news:before {
    content: "\e649"
}

.icon-percent:before {
    content: "\e64a"
}

.icon-cross:before {
    content: "\e63d"
}

.icon-reply:before {
    content: "\e63a"
}

.icon-eye-close:before {
    content: "\e639"
}

.icon-android:before {
    content: "\e633"
}

.icon-calendar:before {
    content: "\e637"
}

.icon-apple:before {
    content: "\e636"
}

.icon-attachment:before {
    content: "\e635"
}

.icon-trash:before {
    content: "\e634"
}

.icon-chart:before {
    content: "\e62d"
}

.icon-idea:before {
    content: "\e62e"
}

.icon-owner:before {
    content: "\e62f"
}

.icon-search:before {
    content: "\e630"
}

.icon-upload-cloud2:before {
    content: "\e632"
}

.icon-user-plus:before {
    content: "\e63e"
}

.icon-plus:before {
    content: "\e62c"
}

.icon-eye:before {
    content: "\e62b"
}

.icon-ipa:before {
    content: "\e627"
}

.icon-lock2:before {
    content: "\e628"
}

.icon-qrcode:before {
    content: "\e629"
}

.icon-rollback:before {
    content: "\e62a"
}

.icon-app:before {
    content: "\e61f"
}

.icon-box:before {
    content: "\e620"
}

.icon-combo:before {
    content: "\e621"
}

.icon-statistics:before {
    content: "\e902"
}

.icon-device:before {
    content: "\e622"
}

.icon-face:before {
    content: "\e623"
}

.icon-file:before {
    content: "\e624"
}

.icon-msg:before {
    content: "\e625"
}

.icon-pen:before {
    content: "\e626"
}

.icon-menu:before {
    content: "\e61e"
}

.icon-brace-box:before {
    content: "\e61d"
}

.icon-brace-left-b:before {
    content: "\e61c"
}

.icon-brace-right-b:before {
    content: "\e61b"
}

.icon-brace-hor:before {
    content: "\e61a"
}

.icon-comma-eye:before {
    content: "\e618"
}

.icon-mouth:before {
    content: "\e619"
}

.icon-logo:before {
    content: "\e614"
}

.icon-m:before {
    content: "\e60e"
}

.icon-f:before {
    content: "\e60f"
}

.icon-plugin:before {
    content: "\e610"
}

.icon-launch:before {
    content: "\e611"
}

.icon-logo-shinian:before {
    content: "\e605"
}

.icon-console:before {
    content: "\e609"
}

.icon-microscope:before {
    content: "\e60a"
}

.icon-logo-zuimei:before {
    content: "\e60b"
}

.icon-user-access:before {
    content: "\e60c"
}

.icon-logo-jiecao:before {
    content: "\e60d"
}

.icon-logo-qpos:before {
    content: "\e612"
}

.icon-logo-shise:before {
    content: "\e63f"
}

.icon-filter:before {
    content: "\e640"
}

.icon-test-speed:before {
    content: "\e641"
}

.icon-udid:before {
    content: "\e642"
}

.icon-update:before {
    content: "\e643"
}

.icon-comma:before {
    content: "\e644"
}

.icon-i:before {
    content: "\e645"
}

.icon-r:before {
    content: "\e646"
}

.icon-brace-left:before {
    content: "\e613"
}

.icon-brace-right:before {
    content: "\e617"
}

.icon-thumbsup:before {
    content: "\e615"
}

.icon-webhooks:before {
    content: "\e616"
}

.icon-calendar2:before {
    content: "\e638"
}

.icon-error2:before {
    content: "\e63c"
}

.icon-bughd:before {
    content: "\e64b"
}

.icon-firim:before {
    content: "\e602"
}

.icon-angle-right:before {
    content: "\e606"
}

.icon-incode:before {
    content: "\e64c"
}

.icon-email:before {
    content: "\e63b"
}
/* Localized */