<div class="example-modal" >
    <div class="modal modal-info" id="addGuide">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Guide</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group margin">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-flat" type="button">项目信息</button>
                                    </span>
                                    <input type="text" class="form-control" PLACEHOLDER='{"info":{"description":"API Documentation Description","version":"0.0.1","title":"Name API"}}' ng-model="info">
                                </div>
                                <div class="input-group margin" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-flat" type="button">请求路径</button>
                                    </span>
                                    <input type="text" class="form-control" PLACEHOLDER="/api/account" ng-model="urlPath">
                                </div>
                                <div class="input-group margin">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-flat" type="button">分类信息</button>
                                    </span>
                                    <input type="text" class="form-control" PLACEHOLDER='{"tags":["tagName","tagName"]}' ng-model="tagInfo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline" data-dismiss="modal" ng-click="addApiPath(info,urlPath,tagInfo)">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>